.modalBackdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90dvh;
  padding: 20px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  width: 1200px;
  min-height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: justify;
  outline: 10px double var(--color-2);
}

.header {
  display: flex;
  word-break: break-word;

  & h1 {
    text-transform: capitalize;
    color: #000;
    width: 95%;
  }
}

.favoriteContainer {
  display: flex;
  gap: 5px;
}

.star {
  cursor: pointer;
}

.starFavorited {
  cursor: pointer;
  fill: var(--color-3);
}

.iconDisabled {
  fill: #ccc;
  opacity: 0.5;
  cursor: wait;
}

.favoriteCountContainer {
  font-size: 20px;
  display: flex;
  gap: 5px;
}

.favoriteCountStar {
  fill: var(--color-3);
}

.settings {
  height: 25px;
  width: 25px;
  cursor: pointer;

  &:hover {
    fill: var(--color-3);
  }
}

.time {
  margin: 10px 0;
}

.description {
  word-break: break-word;
  margin: 10px 0;

  & p {
    font-size: 25px;
    color: #000;
    text-align: justify;
    width: 95%;
  }
}

.requirements {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 30px 0;

  & p {
    margin-top: 20px;
    margin-right: 5px;
    background-color: var(--color-3);
    color: #000;
    border: 1px solid #000;
    display: inline-block;
    padding: 10px;
    border-radius: 0px 10px;
  }

  & p:hover {
    opacity: 0.8;
  }
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
  flex: 1;

  & a {
    border: 1px solid #000;
    display: inline-block;
    padding: 10px;
    border-radius: 10px 0px;
    text-decoration: none;
    color: #000;

    &:hover {
      background-color: var(--color-3);
    }
  }
}

@media (width <= 515px) {
  .header h1 {
    font-size: 25px;
  }

  .description p {
    font-size: 16px;
  }

  .time p {
    font-size: 12px;
  }

  .requirements p {
    font-size: 12px;
  }

  .link {
    align-items: center;
  }
}

@media (515px <= width <= 790px) {
  .modalContent {
    padding: 24px;
    width: 100%;
    min-height: 300px;
  }

  .header h1,
  .description p {
    width: 100%;
  }
}
