/* Estilos para o fundo transparente que cobre a tela */
.modalBackdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
  z-index: 100; /* Garante que o modal ficará no topo */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding: 32px; /* Garante um pequeno espaço nas laterais para responsividade */
}

.modalContent {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: justify;
  outline: 10px double var(--color-1);
}

.header {
  display: flex;
  word-break: break-word;

  & h1 {
    text-transform: capitalize;
    color: #000;
  }
}

.favoriteContainer {
  display: flex;
  gap: 5px;
}

.star {
  cursor: pointer;
}

.starFavorited {
  cursor: pointer;
  fill: var(--color-3);
}

.iconDisabled {
  fill: #ccc;
  opacity: 0.5;
  cursor: wait;
}

.favoriteCountContainer {
  font-size: 20px;
  display: flex;
  gap: 5px;
}

.favoriteCountStar {
  fill: var(--color-3);
}

.settings {
  height: 25px;
  width: 25px;
  cursor: pointer;

  &:hover {
    fill: var(--color-3);
  }
}

.description {
  word-break: break-word;
  margin: 10px 0;

  & p {
    font-size: 20px;
    color: #000;
    text-align: justify;
  }
}

.requirements {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;

  & p {
    margin-top: 20px;
    margin-right: 5px;
    background-color: var(--color-3);
    color: #000;
    border: 1px solid #000;
    display: inline-block;
    padding: 10px;
    border-radius: 0px 10px;
  }

  & p:hover {
    opacity: 0.8;
  }
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  flex: 1;

  & a {
    border: 1px solid #000;
    display: inline-block;
    padding: 10px;
    border-radius: 10px 0px;
    text-decoration: none;
    color: #000;

    &:hover {
      background-color: var(--color-3);
    }
  }
}

@media (width <= 780px) {
  .modalContent {
    padding: 24px;
    width: 100%;
  }
}
