.login {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.login::before {
  display: block;
  content: "";
  background: url("/assets/wallpaper.jpg") no-repeat center center;
  background-size: cover;
}

.forms {
  max-width: 480px;
  padding: 16px;
  margin-top: 20vh;
}

@media (width <= 720px) {
  .login {
    grid-template-columns: 1fr;
  }
  .login::before {
    display: none;
  }
  .forms {
    max-width: 100%;
  }
}
