.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  flex: 1;
}

.label {
  display: block;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 8px;
  color: var(--color-2);
}

.textArea {
  border: 2px solid var(--color-2);
  display: block;
  width: 100%;
  flex: 1;
  font-size: 16px;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: var(--color-1);
  transition: 0.2s;
  height: 90%;

  &:focus,
  &:hover {
    outline: none;
    border-color: var(--color-1);
    background: var(--color-1);
    box-shadow: var(--color-2) 0 0 0 3px;
  }
}
