.modal {
  position: absolute;
  top: -100px;
  right: 0;
  width: 100%;
  border: 5px double var(--color-2);
  border-radius: 8px;
  background-color: var(--color-1);
  padding: 20px;
}

.label {
  display: block;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 8px;
  color: var(--color-2);
}

.requirements {
  border: 2px solid black;
  border-radius: 0.4rem;
  margin-bottom: 16px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.requirement {
  background-color: var(--color-3);
  color: #000;
  border: 1px solid #000;
  display: flex;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  padding-right: 30px;
}

.icon {
  position: absolute;
  top: 1px;
  right: 1px;
  color: var(--color-2);
  cursor: pointer;

  &:hover {
    color: var(--color-1);
  }
}

.inputContainer {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}

.input {
  width: 90%;
  border: 2px solid #000;
  border-radius: 0.4rem 0 0 0.4rem;
  font-size: 16px;
  padding: 0.8rem;
}

.plus {
  flex: 1;
  border: 2px solid #000;
  border-radius: 0 0.4rem 0.4rem 0;
  height: 100%;
  padding: 0.8rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-3);
  }
}

@media (width <= 480px) {
  .modal {
    top: -50px;
    padding: 10px;
    width: 100%;
  }
}
