.button {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #7f5af0;
  color: #fffffe;
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: #fffffe 0 0 0 3px;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
