.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  outline: 5px double var(--color-2);
}

.input {
  display: flex;
  align-items: center;
}

.glassInput {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--color-2);
  padding: 10px;
  font-size: 16px;
  color: var(--color-2);
  outline: none;
  transition: all 0.3s ease;
  flex-grow: 1;
}

.icon {
  background-color: var(--color-3);
  border: 1px solid #000;
  height: 40px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.disabledIcon {
  background-color: var(--color-3);
  border: 1px solid #000;
  height: 40px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
}

@media (width <= 355px) {
  .form {
    width: 320px;
  }
}

@media (355px <= width <= 620px) {
  .form {
    width: 350px;
  }
}
