.filters {
  display: flex;
  flex-direction: column;
  outline: 5px double var(--color-2);
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: 0px;
  width: 225px;

  & h2 {
    color: var(--color-3);
    margin: 10px;
  }

  & label {
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 10px;
    gap: 5px;
  }

  & input {
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}

@media (width <= 360px) {
  .filters {
    width: 320px;
    right: 0px;
  }
}

@media (360px <= width <= 540px) {
  .filters {
    width: 350px;
    right: 0px;
  }
}

@media (540px <= width <= 790px) {
  .filters {
    width: 500px;
    right: 0px;
  }
}

@media (790px <= width) {
  .filters {
    display: none;
  }
}
