/* Estilos para o fundo transparente que cobre a tela */
.modalBackdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
  z-index: 100; /* Garante que o modal ficará no topo */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding: 2rem; /* Garante um pequeno espaço nas laterais para responsividade */
}

.modalContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: justify;
  outline: 10px double var(--color-1);
}

.header {
  word-break: break-word;
}

.header h1 {
  text-transform: capitalize;
  color: #000;
}

.description {
  word-break: break-word;
  margin: 10px 0;
}

.description p {
  font-size: 20px;
  color: #000;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.requirements {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

.requirements p {
  margin-top: 20px;
  margin-right: 5px;
  background-color: var(--color-3);
  color: #000;
  border: 1px solid #000;
  display: inline-block;
  padding: 10px;
  border-radius: 0px 10px;
}

.link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 15px;
  flex: 1;
}

.link a {
  border: 1px solid #000;
  display: inline-block;
  padding: 10px;
  border-radius: 10px 0px;
  text-decoration: none;
  color: #000;
}

.link a:hover {
  background-color: var(--color-3);
}

@media (max-width: 720px) {
  .modalContent {
    padding: 24px;
    width: 100%;
  }
}
