* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --color-1: #fff; /* #16161a */
  --color-2: #16161a;
  --color-3: #ffd803;
}

a {
  list-style: none;
  text-decoration: none;
  color: var(--color-2);
}

p {
  color: var(--color-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-2);
}
