* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --color-1: #16161a;
  --color-2: #94a1b2;
  --color-3: #7f5af0;
}

a {
  list-style: none;
  text-decoration: none;
  color: #94a1b2;
}

p {
  color: #94a1b2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fffffe;
}
