@import "tailwindcss";

@theme {
  --font-sans: "Roboto Condensed", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Merriweather", serif;
}

html {
  --color-1: #fff; /* #16161a */
  --color-2: #16161a;
  --color-3: #ffd803;
  --color-4: rgb(215, 32, 32);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.AppBody {
  flex: 1;
}

.no-scroll {
  overflow: hidden;
}