.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.profileBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  outline: double 5px var(--color-2);
  padding: 10px;
  width: 300px;
}

.userBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  position: relative;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;

  & h3 {
    text-transform: capitalize;
    color: #000;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; /* Flexbox especializado para controle de altura */
    -webkit-box-orient: vertical; /* Define a direção como vertical */
    line-clamp: 2;
    -webkit-line-clamp: 2; /* Limita o número de linhas (ajuste conforme necessário) */
  }
}

.imgContainer {
  display: flex;
  align-items: center;
}

.img {
  object-fit: cover;
  border: double 5px var(--color-2);
  height: 60px;
  width: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 5px;
}

.icon {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: var(--color-3);
    opacity: 0.8;
  }
}

.modal {
  border: 5px double #000;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  padding: 10px;
}

.favorites {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.noFavoriteContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noFavorite {
  & a {
    border: 1px solid #000;
    display: inline-block;
    padding: 10px;
    border-radius: 10px 0px;
    text-decoration: none;
    color: #000;

    &:hover {
      background-color: var(--color-3);
    }
  }
}

@media (width <= 380px) {
  .profile {
    padding: 5px;
  }

  .profileBox {
    width: 320px;
  }
}

@media (380px <= width <= 640px) {
  .profile {
    padding: 10px;
  }

  .profileBox {
    width: 350px;
  }
}

@media (640px <= width <= 790px) {

  .profileBox {
    width: 600px;
  }
}
