.header {
  background-color: var(--color-1);
  position: sticky;
  top: 0; /* Fixa no topo */
  z-index: 1000;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.icon {
  color: var(--color-2);

  &:hover {
    color: var(--color-3);
    opacity: 0.8;
  }
}

.iconActive {
  font-weight: bold;
  color: var(--color-3);
}

.menu {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 5px double var(--color-2);
  height: 40px;
  width: 35px;
  cursor: pointer;
}

@media (width <= 720px) {
  .menu {
    display: flex;
  }

  .nav {
    justify-content: space-around;
  }
}
