.cards {
  display: flex;
  justify-content: center;
  border: 10px double var(--color-2);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  padding: 40px;
  gap: 100px;
  flex-wrap: wrap;
  border-left: 10px double var(--color-2);
  border-right: 10px double var(--color-2);
  background-color: var(--color-1);
}

.card {
  display: flex;
  flex-direction: column;
  border: 10px double var(--color-2);
  width: 600px;
  max-height: 320px;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;

  & h1 {
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-3);
    font-weight: bold;
  }

  & p {
    text-align: justify;
    font-size: 20px;
  }
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  margin-top: 10px;
}

@media (width <= 370px) {
  .card {
    width: 335px;
    max-height: 370px;
  }

  .content p {
    font-size: 17px;
  }
}

@media (370px <= width <= 450px) {
  .card {
    width: 360px;
    max-height: 360px;
  }

  .content p {
    font-size: 17px;
  }
}

@media (450px <= width <= 620px) {
  .card {
    width: 400px;
    max-height: 400px;
  }
}

@media (width <= 790px) {
  .container {
    border: none;
    padding: 10px 0px;
    gap: 20px;
  }
}
