.aside {
  padding: 20px;
  border: 5px double var(--color-2);
}

.menu {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  outline: 5px double var(--color-2);
  height: 40px;
  width: 35px;
  cursor: pointer;
}

@media (width <= 360px) {
  .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 10px;
  }

  .menu {
    display: flex;
    width: 320px;
  }
}

@media (360px <= width <= 540px) {
  .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 20px 0px;
  }

  .menu {
    display: flex;
    width: 350px;
  }
}

@media (540px <= width <= 790px) {
  .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 20px 0px;
  }

  .menu {
    width: 500px;
    display: flex;
  }
}

@media (790px <= width) {
  .aside {
    height: 100%;
  }
}
