.aside {
  height: 100%;
  padding: 20px;
  outline: 5px double var(--color-2);
}

.menu {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  outline: 5px double var(--color-2);
  height: 40px;
  width: 35px;
  cursor: pointer;
}

@media (max-width: 355px) {
  .menu {
    width: 320px;
  }
}

@media (min-width: 355px) and (max-width: 620px) {
  .menu {
    width: 350px;
  }
}

@media (max-width: 620px) {
  .aside {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 720px) {
  .aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }

  .menu {
    display: flex;
  }
}
