.link {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-2);
}

.linkActive {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-3);
  text-decoration: underline;

  &:hover {
    color: var(--color-3);
    opacity: 0.8;
    text-decoration: underline;
  }
}

@media (width <= 550px) {
  .link,
  .linkActive {
    font-size: 17px;
    margin-right: 10px;
  }
}

@media (width <= 720px) {
  .links {
    display: none;
  }
}
